/* Navbar */
.m-b-0{
    margin-bottom: 0rem;
}
.nav-list-none{
    display: none;
}

a{
    color: #fff;
}
.transform-lowercase{
   text-transform: lowercase;
   font-family: cursive;
}
.navbar-list-item{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
}
.navbar-fixed-top{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}
/* Landing */
.landing{
    background: url("./assets/images/landing.jpg") no-repeat center center/cover;;
    position: relative;
    height: 100vh;
    width: 100%;
}
.landing-inner-center{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end; 
}
.lead{
    color: var(--white);
    font-size: 1.5rem;
    margin: 0.5rem;
}


.d-flex{
    display: flex;
    gap: 1rem;
}
.wrap{
    flex-wrap: wrap;
}
.fixed-width{
    width: 100%;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-direction-column{
    flex-direction: column;
}


/* -------------------------------------------------------------------- PRODUCTS -------------------------------------------------------- */
.m-t-8{
    margin-top: 8rem;
}
.sidebar-top{
    top: 150px;
}
.m-0{
  margin: 0rem;
}