/* Navbar */
.m-b-0{
    margin-bottom: 0rem;
}
.nav-list-none{
    display: none;
}

a{
    color: #fff;
}
/* Landing */
.landing{
    background: url("./assets/images/landing.jpg") no-repeat center center/cover;;
    position: relative;
    height: 100vh;
    width: 100%;
}
.landing-inner-center{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 1rem;
}

.d-flex{
    display: flex;
    gap: 1rem;
}
.wrap{
    flex-wrap: wrap;
}
.fixed-width{
    width: 100%;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-direction-column{
    flex-direction: column;
}
@media only screen and (min-width: 768px){
  
}