.app{
    min-height: 100vh;
}
/* Navbar */
.m-b-0{
    margin-bottom: 0rem;
}
.nav-list-none{
    display: none;
}


a{
    color: #fff;
}
.transform-lowercase{
   text-transform: lowercase;
   font-family: cursive;
}
.badge-nav-cart{
    position: absolute;
    color: white;
    top: -10px;
    left: 42px;
}
.badge-nav-wishlist{
    position: absolute;
    color: white;
    top: -10px;
    left: 65px;
}
.navbar-fixed-top{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}
/* Landing */
.landing{
    background: url("./assets/images/landing.jpg") no-repeat center center/cover;;
    position: relative;
    height: 100vh;
    width: 100%;
}
.landing-inner-center{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end; 
}
.lead{
    color: var(--white);
    font-size: 1.5rem;
    margin: 0.5rem;
}


.display-flex{
    display: flex;
    gap: 0.5rem;
}
.wrap{
    flex-wrap: wrap;
}
.fixed-width{
    width: 100%;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-direction-column{
    flex-direction: column;
}


/* -------------------------------------------------------------------- PRODUCTS -------------------------------------------------------- */
.m-t-2{
    margin-top: 2rem;
}
.sidebar-top{
    top: 150px;
}
.m-0{
  margin: 0rem;
}

/* Create a custom checkbox */
input[type=radio]:checked {
    border: 5px solid #0DFF92;
}

.checkmark {
    position: relative;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-right: 0.5rem;
  }
 
  /* ------------------------------------------------CARD-------------------------------------------------------------- */
  .color-primary{
      color: var(--primary);
  }
  .product-card{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 5px;
    background: white;
    width: 60%;
    padding: 1rem;
    position: relative;
    gap: 5px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;   
    height: 450px;
    align-items: center;
  }

  .product-image-container{
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0.5rem;
      align-self: center;
      height: 150px;
      align-items: center;
  }

  .product-text-container{
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 0px;
  }
 
  .image{
      width: 100px;
      height: 100px;
      
  }
  .product-card-footer{
    display: flex;
    gap: 1rem;
  }
 
  @media only screen and (min-width: 768px){ 
    .product-card{
        padding: 1rem;
        width: 300px;
    }
    .margin-left-1{
        margin-left: 1rem;
       }
       
  }

  @media only screen and (min-width: 912px){
    .product-card{
        padding: 2rem;
      
    }

  }

  

  /* GENERALL */
  .border-none{
      border: none;
  }
  
  .margin-bottom-half{
      margin-bottom: 0.5rem;
  }
  .padding-half{
   padding: 0.5rem;
  }
  .select-css{
    display: block;
    margin: 0;
    border: 1px solid #aaa;
     width: 100%; 
     padding: 0.25rem 0.75rem;
  }

  .m-1{
    margin: 1rem;
  }
  
  .margin-right-half{
      margin-right: 0.5rem;
  }


  /* -------------------------------------------------------- SEARCHBAR--------------------------------------------------------------- */
  .searchbar-div{
    margin-top: 5rem;
  }
  .searchbar-name{
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
  }
  .searchbar{ 
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  }
  .width-half{
      width: 90%;
  }
  .search-icon{
      position: absolute;
      right: 40px;
  }
  @media only screen and (min-width: 768px){
       .searchbar-div{
           margin-top: 8.5rem;
           margin-bottom: 0.5rem;
       }
       .search-icon{
           right: 100px;
       }
       .width-half{
        width: 70%;
    }
  }

  @media only screen and (min-width: 1000px){
    .width-half{
        width: 80%;
    }
    .search-icon{
        right: 120px;
    }
  }

  .footer{
    display: flex;
    min-height: 20vh;
    align-items: center;
    justify-content: center;
    position: sticky;
    border-top: 5px solid black;
    margin-top: 1rem;
    flex-direction: column;
    background-color: black;
    color: white;
    margin: 0px;
}

.copywrite{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.padding_one{
    padding: 0.5rem;
}
.list_item{
    margin-right: 1rem;
}
.unorderedlist{
    display: flex;
}

.icon_styling{
    color: white;
    font-size: 2rem;
}

.icon_red{
    color: red;
}